@page "/arm2"
@inject NotifierService Notifier       
@inject KernelService Kernel
@implements IDisposable

<h3>АРМ №2</h3>

<img id="Silos1a2" src="img/arm2/SilosRight.png" alt="Силос 1" @onmouseover="@(e => ShowMaterial(e, 1))" @onmouseout="@(e => HideMaterial())" />   
<div id="Silos1a2_mat" class="siloses_a2mat">@_siloses[0].Material</div>
<div id="Silos1a2_stat" class="siloses_a2stat">@_siloses[0].Status.StatusMessage</div>      
<div id="Silos1a2_num" class="siloses_a2num">1</div>      
<img id="Silos1a2_led" src="@_siloses[0].Status.StatusIcon" />

<img id="Silos2a2" src="img/arm2/SilosRight.png" alt="Силос 2" @onmouseover="@(e => ShowMaterial(e, 2))" @onmouseout="@(e => HideMaterial())" />     
<div id="Silos2a2_mat" class="siloses_a2mat">@_siloses[1].Material</div>
<div id="Silos2a2_stat" class="siloses_a2stat">@_siloses[1].Status.StatusMessage</div>
<div id="Silos2a2_num" class="siloses_a2num">2</div>       
<img id="Silos2a2_led" src="@_siloses[1].Status.StatusIcon" />

<img id="Silos3a2" src="img/arm2/SilosLeft.png"  alt="Силос 3" @onmouseover="@(e => ShowMaterial(e, 3))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos3a2_mat" class="siloses_a2mat">@_siloses[2].Material</div>
<div id="Silos3a2_stat" class="siloses_a2stat">@_siloses[2].Status.StatusMessage</div>
<div id="Silos3a2_num" class="siloses_a2num">3</div>       
<img id="Silos3a2_led" src="@_siloses[2].Status.StatusIcon" />

<img id="Silos4a2" src="img/arm2/SilosRight.png" alt="Силос 4" @onmouseover="@(e => ShowMaterial(e, 4))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos4a2_mat" class="siloses_a2mat">@_siloses[3].Material</div>
<div id="Silos4a2_stat" class="siloses_a2stat">@_siloses[3].Status.StatusMessage</div>
<div id="Silos4a2_num" class="siloses_a2num">4</div>       
<img id="Silos4a2_led" src="@_siloses[3].Status.StatusIcon" />

<img id="Silos5a2" src="img/arm2/SilosRight.png" alt="Силос 5" @onmouseover="@(e => ShowMaterial(e, 5))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos5a2_mat" class="siloses_a2mat">@_siloses[4].Material</div>
<div id="Silos5a2_stat" class="siloses_a2stat">@_siloses[4].Status.StatusMessage</div>
<div id="Silos5a2_num" class="siloses_a2num">5</div>     
<img id="Silos5a2_led" src="@_siloses[4].Status.StatusIcon" />

<img id="Silos6a2" src="img/arm2/SilosLeft.png"  alt="Силос 6" @onmouseover="@(e => ShowMaterial(e, 6))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos6a2_mat" class="siloses_a2mat">@_siloses[5].Material</div>
<div id="Silos6a2_stat" class="siloses_a2stat">@_siloses[5].Status.StatusMessage</div>
<div id="Silos6a2_num" class="siloses_a2num">6</div>     
<img id="Silos6a2_led" src="@_siloses[5].Status.StatusIcon" />

<img id="Silos7a2" src="img/arm2/SilosRight.png" alt="Силос 7" @onmouseover="@(e => ShowMaterial(e, 7))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos7a2_mat" class="siloses_a2mat">@_siloses[6].Material</div>
<div id="Silos7a2_stat" class="siloses_a2stat">@_siloses[6].Status.StatusMessage</div>
<div id="Silos7a2_num" class="siloses_a2num">7</div>     
<img id="Silos7a2_led" src="@_siloses[6].Status.StatusIcon" />

<img id="Silos8a2" src="img/arm2/SilosLeft.png"  alt="Силос 8" @onmouseover="@(e => ShowMaterial(e, 8))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos8a2_mat" class="siloses_a2mat">@_siloses[7].Material</div>
<div id="Silos8a2_stat" class="siloses_a2stat">@_siloses[7].Status.StatusMessage</div>
<div id="Silos8a2_num" class="siloses_a2num">8</div>     
<img id="Silos8a2_led" src="@_siloses[7].Status.StatusIcon" />

<!-- Весовой бункер 1 -->
<img id="Weight1a2" src="img/arm2/WeightGrey.png" alt="Весовой бункер 1" @onmouseover="@(e => ShowMaterial(e, 10))" @onmouseout="@(e => HideMaterial())" />       
<div id="Weight1_weight">@_weights[0].GetWeight()</div>
<div id="Weight1_label">@_weights[0].Status.StatusMessage</div>  
<img id="Weight1_led" src="@_weights[0].Status.StatusIcon" />
                         
<!-- Весовой бункер 2 -->
<img id="Weight2a2" src="img/arm2/WeightGrey.png"  alt="Весовой бункер 2" @onmouseover="@(e => ShowMaterial(e, 11))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight2_weight">@_weights[1].GetWeight()</div>
<div id="Weight2_label">@_weights[1].Status.StatusMessage</div>  
<img id="Weight2_led" src="@_weights[1].Status.StatusIcon" />
                     
<!-- Весовой бункер 3 -->
<img id="Weight3a2" src="img/arm2/WeightGrey.png"  alt="Весовой бункер 3" @onmouseover="@(e => ShowMaterial(e, 12))" @onmouseout="@(e => HideMaterial())" />        
<div id="Weight3_weight">@_weights[2].GetWeight()</div>
<div id="Weight3_label">@_weights[2].Status.StatusMessage</div>  
<img id="Weight3_led" src="@_weights[2].Status.StatusIcon" />

<img id="Conveyor1a2" src="img/arm2/conveyor_long.png" alt="Конвейер 1"/>
<img id="Conveyor2a2" src="img/arm2/conveyor_vertical_doublelong.png" alt="Конвейер 2" />
<img id="Rolgang1a2" src="img/arm2/RolgangVeryLongGrey.png" alt="Конвейер 3" />       
<img id="Conveyor3a2" src="img/arm2/conveyor_short.png" alt="Конвейер 4" />           
<img id="Rolgang2a2" src="img/arm2/RolgangLongGrey.png" alt="Конвейер 5" />            
<img id="Conveyor4a2" src="img/arm2/conveyor_mid.png" alt="Конвейер 6" />     
<img id="Stalevoz" src="img/arm2/Stalevoz.png" alt="Сталевоз" />    

<img id="Diviator1" src="img/arm2/diviator_left.png" alt="Дивиатор 1" />     
<img id="Diviator2" src="img/arm2/diviator_right.png" alt="Дивиатор 2" />
<img id="Diviator3" src="img/arm2/diviator_right.png" alt="Дивиатор 3" />       
<img id="Diviator4" src="img/arm2/diviator_down.png" alt="Дивиатор 4" />        
<img id="Diviator5" src="img/arm2/Razdvoitel.png" alt="Дивиатор 5" />

<!-- Весовой бункер 4 -->
<img id="Weight4a2" src="img/arm2/weights_long.png" alt="Весовой бункер 4" @onmouseover="@(e => ShowMaterial(e, 13))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight4_weight">@_weights[3].GetWeight()</div>
<img id="Weight4_led" src="@_weights[3].Status.StatusIcon" />
<div id="Weight4_label">@_weights[3].Status.StatusMessage</div>       
                                                                                           
<!-- Весовой бункер 5 -->
<img id="Weight5a2" src="img/arm2/weights_long.png" alt="Весовой бункер 5" @onmouseover="@(e => ShowMaterial(e, 14))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight5_weight">@_weights[4].GetWeight()</div>
<img id="Weight5_led" src="@_weights[4].Status.StatusIcon" />
<div id="Weight5_label">@_weights[4].Status.StatusMessage</div>       

<!-- Весовой бункер 6 -->
<img id="Weight6a2" src="img/arm2/weights_long.png" alt="Весовой бункер 6" @onmouseover="@(e => ShowMaterial(e, 15))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight6_weight">@_weights[5].GetWeight()</div>
<img id="Weight6_led" src="@_weights[5].Status.StatusIcon" />
<div id="Weight6_label">@_weights[5].Status.StatusMessage</div>       
                     
<!-- Весовой бункер 7 -->
<img id="Weight7a2" src="img/arm2/weights_long.png" alt="Весовой бункер 7" @onmouseover="@(e => ShowMaterial(e, 16))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight7_weight">@_weights[6].GetWeight()</div>
<img id="Weight7_led" src="@_weights[6].Status.StatusIcon" />
<div id="Weight7_label">@_weights[6].Status.StatusMessage</div>       

<EditForm Model="_manualLoadWeights" id="loadWeightsForm">
    <table class="form">
        <caption>Загрузка весовых бункеров</caption>
        <tr>
            <td style="vertical-align: middle;">
                <label for="weightNumber">Весовой бункер:</label>
                <InputSelect id="weightNumber" ValueExpression="@(()=>_manualLoadWeights.WeightNumber)" Value="@_manualLoadWeights.WeightNumber" ValueChanged="@((string value) => GetSilosesList(value))">
                    <option value="0">Весовой 1 </option>
                    <option value="1">Весовой 2</option>
                    <option value="2">Весовой 3</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <label for="silosNumber">Силос:</label>
                <InputSelect id="silosNumber" ValueExpression="@(()=>_manualLoadWeights.SilosNumber)" Value="@_manualLoadWeights.SilosNumber" ValueChanged="@((string value) => SetSilosNumber(value))">
                    @foreach (var item in _avalibleSiloses)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-primary" @onclick="@(() => LoadWeight())">Загрузить</button>
            </td>
        </tr>
    </table>
</EditForm>

<div id="showSilosDetail" style="position: absolute; top: @_detailPosY; left: @_detailPosX; display: @_showed; z-index: 1">
    <table class="silos_detail">
        <tr>
            <th>№</th>
            <th>Материал</th>
            <th>Партия</th>
            <th>Вес</th>
            <th>Объем</th>
        </tr>
        @for (int i = 0; i < _loadedMaterial.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@_loadedMaterial[i].Name</td>
                <td>@_loadedMaterial[i].PartNo</td>
                <td>@_loadedMaterial[i].Weight</td>
                <td>@_loadedMaterial[i].Volume</td>
            </tr>
        }
    </table>          
</div>
