@page "/arm2"
@inject NotifierService Notifier       
@inject KernelService Kernel
@implements IDisposable

<h3>АРМ №2</h3>
<div class="statusBar">
    @* <span class="statusCell">Материал: @_materials[_currentMaterial].Name [@_materials[_currentMaterial].PartNo, @_materials[_currentMaterial].Weight]</span> *@
    <span class="statusCell">@_lastNotification.value</span>
</div> 

<img id="Silos1a2" src="img/arm2/SilosRight.png" alt="Силос 1" @onmouseover="@(e => ShowMaterial(e, 1))" @onmouseout="@(e => HideMaterial())" />   
<div id="Silos1a2_mat" class="siloses_a2mat">@_siloses[0].Material</div>
<div id="Silos1a2_stat" class="siloses_a2stat">@_siloses[0].Status.StatusMessage</div>      
<div id="Silos1a2_num" class="siloses_a2num">1</div>      
<img id="Silos1a2_led" src="@_siloses[0].Status.StatusIcon" />

<img id="Silos2a2" src="img/arm2/SilosRight.png" alt="Силос 2" @onmouseover="@(e => ShowMaterial(e, 2))" @onmouseout="@(e => HideMaterial())" />     
<div id="Silos2a2_mat" class="siloses_a2mat">@_siloses[1].Material</div>
<div id="Silos2a2_stat" class="siloses_a2stat">@_siloses[1].Status.StatusMessage</div>
<div id="Silos2a2_num" class="siloses_a2num">2</div>       
<img id="Silos2a2_led" src="@_siloses[1].Status.StatusIcon" />

<img id="Silos3a2" src="img/arm2/SilosLeft.png"  alt="Силос 3" @onmouseover="@(e => ShowMaterial(e, 3))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos3a2_mat" class="siloses_a2mat">@_siloses[2].Material</div>
<div id="Silos3a2_stat" class="siloses_a2stat">@_siloses[2].Status.StatusMessage</div>
<div id="Silos3a2_num" class="siloses_a2num">3</div>       
<img id="Silos3a2_led" src="@_siloses[2].Status.StatusIcon" />

<img id="Silos4a2" src="img/arm2/SilosRight.png" alt="Силос 4" @onmouseover="@(e => ShowMaterial(e, 4))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos4a2_mat" class="siloses_a2mat">@_siloses[3].Material</div>
<div id="Silos4a2_stat" class="siloses_a2stat">@_siloses[3].Status.StatusMessage</div>
<div id="Silos4a2_num" class="siloses_a2num">4</div>       
<img id="Silos4a2_led" src="@_siloses[3].Status.StatusIcon" />

<img id="Silos5a2" src="img/arm2/SilosRight.png" alt="Силос 5" @onmouseover="@(e => ShowMaterial(e, 5))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos5a2_mat" class="siloses_a2mat">@_siloses[4].Material</div>
<div id="Silos5a2_stat" class="siloses_a2stat">@_siloses[4].Status.StatusMessage</div>
<div id="Silos5a2_num" class="siloses_a2num">5</div>     
<img id="Silos5a2_led" src="@_siloses[4].Status.StatusIcon" />

<img id="Silos6a2" src="img/arm2/SilosLeft.png"  alt="Силос 6" @onmouseover="@(e => ShowMaterial(e, 6))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos6a2_mat" class="siloses_a2mat">@_siloses[5].Material</div>
<div id="Silos6a2_stat" class="siloses_a2stat">@_siloses[5].Status.StatusMessage</div>
<div id="Silos6a2_num" class="siloses_a2num">6</div>     
<img id="Silos6a2_led" src="@_siloses[5].Status.StatusIcon" />

<img id="Silos7a2" src="img/arm2/SilosRight.png" alt="Силос 7" @onmouseover="@(e => ShowMaterial(e, 7))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos7a2_mat" class="siloses_a2mat">@_siloses[6].Material</div>
<div id="Silos7a2_stat" class="siloses_a2stat">@_siloses[6].Status.StatusMessage</div>
<div id="Silos7a2_num" class="siloses_a2num">7</div>     
<img id="Silos7a2_led" src="@_siloses[6].Status.StatusIcon" />

<img id="Silos8a2" src="img/arm2/SilosLeft.png"  alt="Силос 8" @onmouseover="@(e => ShowMaterial(e, 8))" @onmouseout="@(e => HideMaterial())" />
<div id="Silos8a2_mat" class="siloses_a2mat">@_siloses[7].Material</div>
<div id="Silos8a2_stat" class="siloses_a2stat">@_siloses[7].Status.StatusMessage</div>
<div id="Silos8a2_num" class="siloses_a2num">8</div>     
<img id="Silos8a2_led" src="@_siloses[7].Status.StatusIcon" />

<!-- Весовой бункер 1 -->
<img id="Weight1a2" src="img/arm2/WeightGrey.png" alt="Весовой бункер 1" @onmouseover="@(e => ShowMaterial(e, 10))" @onmouseout="@(e => HideMaterial())" />       
<div id="Weight1_weight">@_weights[0].GetWeight()</div>
<div id="Weight1_label">@_weights[0].Status.StatusMessage</div>  
<img id="Weight1_led" src="@_weights[0].Status.StatusIcon" />
                         
<!-- Весовой бункер 2 -->
<img id="Weight2a2" src="img/arm2/WeightGrey.png"  alt="Весовой бункер 2" @onmouseover="@(e => ShowMaterial(e, 11))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight2_weight">@_weights[1].GetWeight()</div>
<div id="Weight2_label">@_weights[1].Status.StatusMessage</div>  
<img id="Weight2_led" src="@_weights[1].Status.StatusIcon" />
                     
<!-- Весовой бункер 3 -->
<img id="Weight3a2" src="img/arm2/WeightGrey.png"  alt="Весовой бункер 3" @onmouseover="@(e => ShowMaterial(e, 12))" @onmouseout="@(e => HideMaterial())" />        
<div id="Weight3_weight">@_weights[2].GetWeight()</div>
<div id="Weight3_label">@_weights[2].Status.StatusMessage</div>  
<img id="Weight3_led" src="@_weights[2].Status.StatusIcon" />

<img id="Conveyor1a2" src="@_conveyors[0]" alt="Конвейер 1"/>
<img id="Conveyor2a2" src="@_conveyors[1]" alt="Конвейер 2" />
<img id="Rolgang1a2" src="@_conveyors[2]" alt="Конвейер 3" />       
<img id="Conveyor3a2" src="@_conveyors[3]" alt="Конвейер 4" />           
<img id="Rolgang2a2" src="@_conveyors[4]" alt="Конвейер 5" />            
<img id="Conveyor4a2" src="@_conveyors[5]" alt="Конвейер 6" />     
<img id="Stalevoz" src="img/arm2/Stalevoz.png" alt="Сталевоз" style="position: absolute; left: @_stalevozPos; top: 680px;" />    

<img id="Diviator1" src="@_diviatorsDirection[0]" alt="Дивиатор 1" />     
<img id="Diviator2" src="@_diviatorsDirection[1]" alt="Дивиатор 2" />
<img id="Diviator3" src="@_diviatorsDirection[2]" alt="Дивиатор 3" />       
<img id="Diviator4" src="@_diviatorsDirection[3]" alt="Дивиатор 4" />        
<img id="Diviator5" src="img/arm2/Razdvoitel.png" alt="Дивиатор 5" />

<!-- Весовой бункер 4 -->
<img id="Weight4a2" src="img/arm2/weights_long.png" alt="@_weights[3].Name" @onmouseover="@(e => ShowMaterial(e, 13))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight4_weight">@_weights[3].GetWeight()</div>
<img id="Weight4_led" src="@_weights[3].Status.StatusIcon" />
<div id="Weight4_label">@_weights[3].Status.StatusMessage</div>       
                                                                                           
<!-- Весовой бункер 5 -->
<img id="Weight5a2" src="img/arm2/weights_long.png" alt="@_weights[4].Name" @onmouseover="@(e => ShowMaterial(e, 14))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight5_weight">@_weights[4].GetWeight()</div>
<img id="Weight5_led" src="@_weights[4].Status.StatusIcon" />
<div id="Weight5_label">@_weights[4].Status.StatusMessage</div>       

<!-- Весовой бункер 6 -->
<img id="Weight6a2" src="img/arm2/weights_long.png" alt="@_weights[5].Name" @onmouseover="@(e => ShowMaterial(e, 15))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight6_weight">@_weights[5].GetWeight()</div>
<img id="Weight6_led" src="@_weights[5].Status.StatusIcon" />
<div id="Weight6_label">@_weights[5].Status.StatusMessage</div>       
                     
<!-- Весовой бункер 7 -->
<img id="Weight7a2" src="img/arm2/weights_long.png" alt="@_weights[6].Name" @onmouseover="@(e => ShowMaterial(e, 16))" @onmouseout="@(e => HideMaterial())" />
<div id="Weight7_weight">@_weights[6].GetWeight()</div>
<img id="Weight7_led" src="@_weights[6].Status.StatusIcon" />
<div id="Weight7_label">@_weights[6].Status.StatusMessage</div>       

<img src="@_ingotsVisualParameters[0].FileName" alt="Ingot_1" style="position: absolute; top: @_ingotsVisualParameters[0].YPos; left: @_ingotsVisualParameters[0].XPos; z-index: @_ingotsVisualParameters[0].ZIndex" @onmouseover="@(e => ShowMaterial(e, 17))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[1].FileName" alt="Ingot_2" style="position: absolute; top: @_ingotsVisualParameters[1].YPos; left: @_ingotsVisualParameters[1].XPos; z-index: @_ingotsVisualParameters[1].ZIndex" @onmouseover="@(e => ShowMaterial(e, 18))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[2].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[2].YPos; left: @_ingotsVisualParameters[2].XPos; z-index: @_ingotsVisualParameters[2].ZIndex" @onmouseover="@(e => ShowMaterial(e, 19))" @onmouseout="@(e => HideMaterial())" />

<img src="@_ingotsVisualParameters[3].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[3].YPos; left: @_ingotsVisualParameters[3].XPos; z-index: @_ingotsVisualParameters[3].ZIndex" @onmouseover="@(e => ShowMaterial(e, 20))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[4].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[4].YPos; left: @_ingotsVisualParameters[4].XPos; z-index: @_ingotsVisualParameters[4].ZIndex" @onmouseover="@(e => ShowMaterial(e, 21))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[5].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[5].YPos; left: @_ingotsVisualParameters[5].XPos; z-index: @_ingotsVisualParameters[5].ZIndex" @onmouseover="@(e => ShowMaterial(e, 22))" @onmouseout="@(e => HideMaterial())" />

<img src="@_ingotsVisualParameters[6].FileName" alt="Ingot_1" style="position: absolute; top: @_ingotsVisualParameters[6].YPos; left: @_ingotsVisualParameters[6].XPos; z-index: @_ingotsVisualParameters[6].ZIndex" @onmouseover="@(e => ShowMaterial(e, 23))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[7].FileName" alt="Ingot_2" style="position: absolute; top: @_ingotsVisualParameters[7].YPos; left: @_ingotsVisualParameters[7].XPos; z-index: @_ingotsVisualParameters[7].ZIndex" @onmouseover="@(e => ShowMaterial(e, 24))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[8].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[8].YPos; left: @_ingotsVisualParameters[8].XPos; z-index: @_ingotsVisualParameters[8].ZIndex" @onmouseover="@(e => ShowMaterial(e, 25))" @onmouseout="@(e => HideMaterial())" />

<img src="@_ingotsVisualParameters[9].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[9].YPos; left: @_ingotsVisualParameters[9].XPos; z-index: @_ingotsVisualParameters[9].ZIndex" @onmouseover="@(e => ShowMaterial(e, 26))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[10].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[10].YPos; left: @_ingotsVisualParameters[10].XPos; z-index: @_ingotsVisualParameters[10].ZIndex" @onmouseover="@(e => ShowMaterial(e, 27))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[11].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[11].YPos; left: @_ingotsVisualParameters[11].XPos; z-index: @_ingotsVisualParameters[11].ZIndex" @onmouseover="@(e => ShowMaterial(e, 28))" @onmouseout="@(e => HideMaterial())" />

<img src="@_ingotsVisualParameters[12].FileName" alt="Ingot_1" style="position: absolute; top: @_ingotsVisualParameters[12].YPos; left: @_ingotsVisualParameters[12].XPos; z-index: @_ingotsVisualParameters[12].ZIndex" @onmouseover="@(e => ShowMaterial(e, 29))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[13].FileName" alt="Ingot_2" style="position: absolute; top: @_ingotsVisualParameters[13].YPos; left: @_ingotsVisualParameters[13].XPos; z-index: @_ingotsVisualParameters[13].ZIndex" @onmouseover="@(e => ShowMaterial(e, 30))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[14].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[14].YPos; left: @_ingotsVisualParameters[14].XPos; z-index: @_ingotsVisualParameters[14].ZIndex" @onmouseover="@(e => ShowMaterial(e, 31))" @onmouseout="@(e => HideMaterial())" />

<img src="@_ingotsVisualParameters[15].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[15].YPos; left: @_ingotsVisualParameters[15].XPos; z-index: @_ingotsVisualParameters[15].ZIndex" @onmouseover="@(e => ShowMaterial(e, 32))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[16].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[16].YPos; left: @_ingotsVisualParameters[16].XPos; z-index: @_ingotsVisualParameters[16].ZIndex" @onmouseover="@(e => ShowMaterial(e, 33))" @onmouseout="@(e => HideMaterial())" />
<img src="@_ingotsVisualParameters[17].FileName" alt="Ingot_3" style="position: absolute; top: @_ingotsVisualParameters[17].YPos; left: @_ingotsVisualParameters[17].XPos; z-index: @_ingotsVisualParameters[17].ZIndex" @onmouseover="@(e => ShowMaterial(e, 34))" @onmouseout="@(e => HideMaterial())" />

@* @foreach (var ingot in _ingots) *@
@* { *@
@*     <img src="@ingot.VisualParameters.FileName" alt="Ingot_@ingot.Uid" style="position: absolute; top: @ingot.VisualParameters.YPos; left: @ingot.VisualParameters.XPos" /> *@
@* } *@

<EditForm Model="_manualLoadWeights" id="loadWeightsForm">
    <table class="form">
        <caption>Загрузка весовых бункеров</caption>
        <tr>
            <td style="vertical-align: middle;">
                <label for="weightNumber">Весовой бункер:</label>
                <InputSelect id="weightNumber" ValueExpression="@(()=>_manualLoadWeights.WeightNumber)" Value="@_manualLoadWeights.WeightNumber" ValueChanged="@((string value) => GetSilosesList(value))">
                    <option value="0">Весовой 1 </option>
                    <option value="1">Весовой 2</option>
                    <option value="2">Весовой 3</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <label for="silosNumber">Силос:</label>
                <InputSelect id="silosNumber" ValueExpression="@(()=>_manualLoadWeights.SilosNumber)" Value="@_manualLoadWeights.SilosNumber" ValueChanged="@((string value) => SetSilosNumber(value))">
                    @foreach (var item in _avalibleSiloses)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-primary" @onclick="@(() => LoadWeight())">Загрузить</button>
            </td>
        </tr>
    </table>
</EditForm>

<EditForm Model="_manualLoadReceiver" id="loadReceiverForm">
    <table class="form">
        <caption>Загрузка приемочных бункеров</caption>
        <tr>
            <td>
                <label for="_weightTanker">Весовой бункер:</label>
                <InputSelect id="_weightTanker" @bind-Value="_manualLoadReceiver.WeightTanker">
                    <option value="0">Бункер 1</option>
                    <option value="1">Бункер 2</option>
                    <option value="2">Бункер 3</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td>
                <label for="_receiverTanker">Приемочный бункер:</label>
                @* <InputSelect id="_receiverTanker" ValueExpression="@(() => _manualLoadReceiver.ReceiverTanker)" Value="@_manualLoadReceiver.ReceiverTanker" ValueChanged="@((string value) => SetReceiverNumber(value))"> *@
                <InputSelect id="_receiverTanker" @bind-Value="_manualLoadReceiver.ReceiverTanker">    
                    <option value="0">ДСП</option>
                    <option value="1">УПК</option>
                    <option value="2">Сторона УПК</option>
                    <option value="3">Сторона ДСП</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td>
                <label for="_weight">Вес материала:</label>
                <InputNumber id="_weight" @bind-Value="_manualLoadReceiver.Weight"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle">
                <button class="btn btn-primary" @onclick="LoadReceiver">Загрузить</button>
                @* <button class="btn btn-primary" @onclick="TestIngots">Ingot</button> *@
            </td>
        </tr>
    </table>
</EditForm>

<div id="showSilosDetail" style="position: absolute; top: @_detailPosY; left: @_detailPosX; display: @_showed; z-index: 1">
    <table class="silos_detail">
        @if (_detailCaption.Length > 0)
        {
            <caption id="detailCaption">@_detailCaption</caption>
        }
        <tr>
            <th>№</th>
            <th>Материал</th>
            <th>Партия</th>
            <th>Вес</th>
            <th>Объем</th>
        </tr>
        @for (int i = 0; i < _loadedMaterial.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@_loadedMaterial[i].Name</td>
                <td>@_loadedMaterial[i].PartNo</td>
                <td>@_loadedMaterial[i].Weight</td>
                <td>@_loadedMaterial[i].Volume</td>
            </tr>
        }
    </table>          
</div>

@*
<div id="MousePos" style="position: absolute; top: 850px; left: 300px; border: 1px solid black">
    <table>
        <tr>
            <td id="MousePosX">0</td>
            <td id="MousePosY">0</td>
        </tr>
    </table>
</div>
<script>
document.addEventListener('mousemove', mouseMoving);

function mouseMoving (e) {
    let posX = document.getElementById('MousePosX');
    let posY = document.getElementById('MousePosY');
            
    posX.innerHTML = e.clientX;
    posY.innerHTML = e.clientY;
}
</script>
*@
